{% extends "layout.html" %}

{% block title %}
    My kids
{% endblock %}

{% block content %}
    <h1>My Kids.</h1>
    <a href="{% url "kids:create"%}" class="btn btn-info">Create new kid</a>
    <table class="table table-striped">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Nickname</th>
            <th>Date of Birth</th>
            <th>Edit</th>
        </tr>
        {% for kid in kids %}
            <tr>
                <td>
                    {{ kid.first_name }}
                </td>
                <td>
                    {{ kid.last_name }}
                </td>
                <td>
                    {{ kid.nickname }}
                </td>
                <td>
                    {{ kid.dob }}
                </td>
                <td>
                    <a href="{% url "kids:edit" kid.id%}" class="btn btn-info">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}